<ion-view view-title="submitProject">
    <ion-content>
        <h1>Submit a project</h1>
        <ion-list>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
                    <input type="text" placeholder="creativity">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Artist</span>
                    <input type="text" placeholder="{{username}}">
                </label>
                
            </div>
        </ion-list>
    </ion-content>
</ion-view>